
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  font-size: 20px;
  color: white;
  background-color: #232C33;
  text-align: left;
}

#encabezado {
  background-color: #A0C1D1;
  color: black;
  padding: 5px 10%;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 4px;
}

#redes-sociales-extra {
  display: none;
}

/*
  max-width: Anchura máxima
  min-width: Anchura mínima
  max-height: Altra máxima
  min-height: Altura mínima
*/
@media screen and (max-width: 695px) {
  #encabezado {
    padding: 5px 5px;
  }
}
@media screen and (max-width: 566px) {
  #encabezado {
    text-align: center;
  }
  #redes-sociales {
    display: none;
  }
  #redes-sociales-extra {
    display: block;
  }
}

#encabezado a {
  text-decoration: none;
}

#encabezado h1 {
  display: inline-block;
  margin: 0;
}

#logo {
  width: 60px;
  height: 60px;
  margin-right: 30px;
}

#redes-sociales {
  float: right;
  padding-top: 15px;
}

#redes-sociales img, #redes-sociales-extra img {
  width: 40px;
  transition: 0.5s;
}

#redes-sociales img:hover, #redes-socailes-extra img:hover {
  filter: invert(100%);
  transition: 0.25s;
}

#redes-sociales-extra a {
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}

div#redes-sociales a {
  margin-left: 25px;
}

#contenido-principal {
  padding: 1em 15%;
}

#pie-pagina {
  text-align: center;
  padding: 20px 10%;
  background-color: #A0C1D1;
  color: black;
  border-top-style: solid;
  border-top-color: black;
  border-top-width: 4px;
}

div.poster {
  display: inline-block;
  width: 300px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 4px;
  margin: 20px;
  background-color: black;
}

div.poster.rojo {
  background-color: red;
  border-color: crimson;
}

div.poster#seleccionado, div.poster:hover {
  border-color: #C97064;
  color: #C97064;
  transition: 0.5s;
}

div.poster h3 {
  text-align: center;
  padding: 0 15px;
}

div.poster img {
  width: 100%;
}

/* [ POKEAPI ] */
div.pkmn-card {
  text-align: center;
  background-color: white;
  border-color:aquamarine;
  border-style: solid;
  border-radius: 12px;
  border-width: 2px;
  color: black;
  margin: 10px;
  display: inline-block;
}
